{% extends './layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Strona rejestracji{% endblock title %}

{% block dialog %}
    <div class="dialog-wrapper dialog-active-always" id="project-add-window">
        <div class="dialog-registration">
            <div class="dialog-registration-title dialog-auth-title">
                    <h1>Rejestracja / <a href="{% url 'login_page' %}">Logowanie</a></h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="dialog-registration-person-data">
                    <h2>Dane osobowe</h2>

                    <div class="field">
                        {{ form.first_name }}
                        <label for="name" class="field-label">{{ form.first_name.label }}</label>
                    </div>

                    <div class="field">
                        {{ form.second_name }}
                        <label for="second-name" class="field-label">{{ form.second_name.label }}</label>
                    </div>
                </div>

                <div class="dialog-registration-accounts-data">
                    <h2>Dane konta</h2>

                    <div class="field">
                        {% if invalid_field == 'email' %}
                            {% render_field form.email class+='field-invalid' %}
                            <label for="email" class="field-label">{{ error_dict.email }}</label>
                        {% else %}    
                            {{ form.email }}
                            <label for="email" class="field-label">{{ form.email.label }}</label>
                        {% endif %}
                    </div>

                    <div class="field field-mini">
                        {% if invalid_field == 'password2'%}
                            {% render_field form.password1 class+='field-invalid' %}
                            <label for="password1" class="field-label">{{ error_dict.password2 }}</label>
                         {% else %}
                            {{ form.password1 }}
                            <label for="password1" class="field-label">{{ form.password1.label }}</label>
                         {% endif %}
                    </div>

                    <div class=" field field-mini">
                        {% if invalid_field == 'password2'%}
                            {% render_field form.password2 class+='field-invalid' %}
                            <label for="password2" class="field-label">{{ form.password2.label }}</label>
                        {% else %}
                            {{ form.password2 }}
                            <label for="password2" class="field-label">{{ form.password2.label }}</label>
                        {% endif %}
                    </div>

                    <button class="button registration-button">Zarejestruj się</button>
                </div>
            </form>

        </div>
    </div>
{% endblock dialog %}
