{% extends './layout/basic.html' %}
{% load static %}

{% block title %}Strona główna{% endblock title %}

{% block main %}
    <div class="main">
        <img class="main-bg" src="{% static 'manager_app/icons/Slice 1.png' %}">
        <h1 class="main-title">Organizacja zadań nie była jeszcze taka łatwa.</h1>
        <div class="main-buttons">
            <a href="{% url 'registration_page' %}">
               <button class="button registration-button">Zarejestruj się</button>
            </a>
            <a href="{% url 'login_page' %}">
                <button class="button login-button">Zaloguj się</button>
            </a>
        </div>
    </div>
{% endblock main %}
