{% extends '../layout/basic.html' %}
{% load static %}

{% block title %}Resetowanie hasło{% endblock title %}

{% block dialog %}
    <div class="dialog-wrapper dialog-active-always" id="project-add-window">
            <div class="dialog-login">
                <div class="dialog-login-title dialog-auth-title">
                    <h1>Wpisz swój e-mail</h1>
                </div>
                <form method="post">
                        {% csrf_token %}
                    <div class="field">
                            {{ form.email }}
                            <label for="email" class="field-label">{{ form.email.label }}</label>
                    </div>
                    <p>Wyślemy na ten email link</br>do zresetowania hasła</p>

                    <button class="button login-button">Potwierdź</button>
                </form>
            </div>
        </div>
    </div>
{% endblock dialog %}
