{% extends '../layout/basic.html' %}
{% load static %}

{% block title %}Twoje hasło zostało zmienione{% endblock title %}

{% block dialog %}
    <div class="dialog-wrapper dialog-active-always" id="project-add-window">
            <!-- This window is inherited by login window -->
            <div class="dialog-login">
                <div class="dialog-login-title dialog-auth-title">
                    <h1>Twoje hasło zostało zmienione</h1>
                </div>
                </br>
                </br>
                </br>
                <a href="{% url 'login_page' %}"><button class="button login-button">Zaloguj się</button></a>
            </div>
        </div>
    </div>
{% endblock dialog %}
