{% extends '../layout/basic.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Wprowadzenie nowego hasło{% endblock title %}

{% block dialog %}
    <div class="dialog-wrapper dialog-active-always" id="project-add-window">
            <!-- This window is inherited from login window -->
            <div class="dialog-login">
                <div class="dialog-login-title dialog-auth-title">
                    <h1>Wpisz nowe hasło</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="field field-mini">
                        {% if invalid_field == 'new_password2' %}
                            {% render_field form.new_password1 class+='field-invalid' %}
                            <label for="password1" class="field-label">{{ error_message }}</label>
                        {% else %}
                            {{ form.new_password1 }}
                            <label for="password1" class="field-label">{{ form.new_password1.label }}</label>
                        {% endif %}
                    </div>

                    <div class=" field field-mini">
                        {% if invalid_field == 'new_password2' %}
                            {% render_field form.new_password2 class+='field-invalid' %}
                            <label for="password2" class="field-label">{{ form.new_password2.label }}</label>
                        {% else %}
                            {{ form.new_password2 }}
                            <label for="password2" class="field-label">{{ form.new_password2.label }}</label>
                         {% endif %}
                    </div>

                    <button class="button login-button">Podtwierdż</button>
                </form>
            </div>
        </div>
    </div>
{% endblock dialog %}
