{% extends './layout/basic.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'manager_app/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager_app/style/style_main_page.css' %}">

    <script src="{% static 'manager_app/script/script.js' %}" defer></script>
    <script src="{% static 'manager_app/script/script_dnd.js' %}" defer></script>

{% endblock styles %}

{% block header_title %}
    <h1>{{ project.name }}</h1>
{% endblock header_title %}

{% block main %}
    <div class="main-page">            
        <div class="chat-window" id="chat-window">
            <button class="chat-window-call" id="chat-window-call"><span id="chat-notification"></span></button>
            <div class="chat-window-output" id="messages-container-wrapper">
                <ul id="messages-container">
                    {% for message in project_messages %}
                        {% if message.writer.uuid ==  request.user.uuid %}
                            <li class="self">
                        {% else %}
                            <li class="other">
                        {% endif %}                               
                                <div>
                                    <h3 title="{{ message.writer.username }}">{{ message.writer.first_name }}</h3>
                                    <p>{{ message.message_content }}</p>
                                </div>
                            </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="chat-window-input">
                <input type="text" name="" id="chat-message-input">
                <button id="send-message"></button>
            </div>
        </div>

        <div class="file-window" id="file-window">
          <button class="file-window-call" id="file-window-call"></button>
            <div class="file-window-output" id="file-container-wrapper">
                <h2>Pliki</h2>
                <ul>
                    {% for file in project_files %}
                        <li>
                            <img src="{{ file.extension_icon.icon.url }}" class="file-window-output-extension">
                            <p title="{{ file.file_name }}.{{ file.file_extension }} ({{ file.uploaded_by.username }})"><a href="{{ file.source_file.url }}" download>{{ file.file_name }}.{{ file.file_extension }} ({{ file.uploaded_by.username }})</a></p>
                            <a href="delete_file/{{ file.uuid }}"><img src="{% static 'manager_app/icons/trash.svg' %}"></a>
                        </li>
                    {% endfor %}
                    <li class="file-window-output-add">
                        <form action="{% url 'file_upload' project.uuid %}" id="upload-file-form" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <label class="custom-file-upload">
                                <input type="file" id="upload-file-input" name="uploaded_file">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <img src="{% static 'manager_app/icons/upload.svg' %}">
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div class="manager-window">        
            <section class="manager-window-input-bar">
                <button id="delete-select-item"></button>
                <input type="text" name="" id="input-select-item">
                <button id="confirm-select-item"></button>
            </section>
            <section class="manager-window-columns" id="columns-window">
                {% for column in columns %}
                    <div class="column" id="{{ column.uuid }}">
                        <h2 class="column-title">{{ column.name }}</h2>
                        <ul class="container"> 
                            {% for task in tasks %}
                                {% if task.column == column %}
                                    {% if task.done_status %}
                                        <li id="{{ task.uuid }}" class="draggable task-item task-item-done" draggable="true"><button class="task-done-button"></button><p>{{ task.content }}</p><img     class="show-more-in-task" src="{% static 'manager_app/icons/show-more.svg' %}"></li>
                                    {% else %}
                                        <li id="{{ task.uuid }}" class="draggable task-item" draggable="true"><button class="task-done-button"></button><p>{{ task.content }}</p><img     class="show-more-in-task" src="{% static 'manager_app/icons/show-more.svg' %}"></li>
                                    {% endif  %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <button class="task-item-add"></button>
                    </div>
                {% endfor %}

                <div class="column column-add">
                    <img src="{% static 'manager_app/icons/Add project.svg' %}">
                </div>
            </section>
            <span id="span-left"></span>
            <span id="span-right"></span>
        </div>
    </div>
    {{ user.username|json_script:"json-username" }}
{% endblock main %}
