{% extends './layout/basic.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block title %}Menu projektów{% endblock title %}

{% block dialog %}
    <div class="dialog-wrapper" id="project-add-window">
        <div class="dialog-project-create">
            <div class="dialog-close-button" onclick="dialogCloser('project-add-window')">
                <img src="{% static 'manager_app/icons/close.svg' %}" alt="Zamknij">
            </div>
            <h1>Nowy projekt</h1>
            <form method="post">
                {% csrf_token %}
                <section class="project-name">
                    <h3>Nazwa projektu</h3>
                    {{ form.name }}
                </section>
                </br>
                <section class="max-members">
                    <h3>Maksymalna ilośc uczęstników</h3>
                    <input name='max_members' class="dialog-project-input-slider" type="range" min="1" max="8" value="2">
                    <div class="dialog-project-count-bar">
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                    </div>
                </section>
                <button class="button" id="project-create-submit">Dodaj</button>
            </form>
        </div>
        <a class="dialog-outside-trigger" onclick="dialogCloser('project-add-window')"></a>
    </div>
{% endblock dialog %}

{% block main %}
    <div class="main">
        <div class="projects">
            <div class="projects-designation">
                <section>
                    <div class="projects-organizer"></div> <a href="#"> - jesteś organizatorem</a>
                </section>

                <section>
                    <div class="projects-member"></div> <a href="##"> - jesteś uczęstnikiem</a>
                </section>
            </div>
            <section class="projects-menu">
                {% for project in projects %}
                <div class="projects-card-wrapper">
                        {% if project.owner == request.user %}
                            <div class="projects-card projects-card-owner" id="card-{{ project.uuid }}">
                        {% else %}
                            <div class="projects-card projects-card-member" id="card-{{ project.uuid }}">
                        {% endif %}
                        <h1>{{ project.name }}</h1>
                        <p>Maks. uczęstników: {{ project.max_members }}</p>
                        <p>Twórco: {{ project.owner.username }}</p>
                        <div class="more-button" onclick="open_more('{{ project.uuid }}')">
                            <img src="{% static 'manager_app/icons/More.svg' %}">
                        </div>

                    </div>
                    <section class="card-more" id="card_more-{{ project.uuid }}">
                        <button onclick="dialogOpener('project-settings-window')">
                             <a href='{% url 'project_settings' project.uuid %}'><img src="{% static 'manager_app/icons/settings.svg' %}">Ustawienia</a>
                        </button>
                    </section>
                </div>
                {% endfor %}
                <div class="projects-card-wrapper">
                    <div class="projects-add">
                            <img src="{% static 'manager_app/icons/Add project.svg' %}" alt="+ dodaj nowy project" id="add-new-project" onclick="dialogOpener('project-add-window')">
                    </div>
                </div>
            </section>
        </div>
    </div> 
{% endblock main %}
