{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'manager_app/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'manager_app/style/style_inherited.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'manager_app/script/script.js' %}" defer></script>
    <title>Strona główna</title>
</head>
<body>
    <header>
        <div class="logo">
                <img src="{% static 'manager_app/icons/pckziu-logo 2.png' %}" alt="Logo PCKZiU">
        </div>
    </header>
    <div class="main">
            <img class="main-bg" src="{% static 'manager_app/icons/Slice 1.png' %}">
        <h1 class="main-title">Organizacja zadań nigdy jeszcze nie była taką łatwą</h1>
        <div class="main-buttons">
            <button class="button registration-button">Zarejestruj się</button>
            <button class="button login-button">Zaloguj się</button>
        </div>

        <nav id="menu">
            <div id="menuContent">
                <a href="#"><p class="text-1">Strona główna</p></a>
                <a href="#"><p class="text-1">Twoje konto</p></a>
                <a href="#"><p class="text-1">Galeria projektów</p></a>
                <a href="#"><p class="text-1">Repo</p></a>
            </div>
            <div id="menuToggle">
                <i class="fa fa-bars">
                        <img src="{% static 'manager_app/icons/side-menu-arrow.svg' %}" class="header-more">
                </i>
            </div>
        </nav>
    </div>
</body>
</html>
